/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

.json{
  height:200px;
  width:100px;
}

.row{
  width: 95%;
}

figure{
  padding-left: 15px;
  padding-right: 10px;
}

img{
  max-width:100%;
  border-radius: 50px;
}

.newheader{
  padding-left: 1em;
  padding-right: 4em;
}

body{
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
overflow-x: hidden;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
color:white;
}

figcaption{
  padding-left: 1em;
}

.emails{
  min-width: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
  margin-bottom: -.5em;
  background-image:
  linear-gradient(45deg,
      rgba(128, 18, 155, 0.7), 
      rgba(32, 18, 155, 0.7)
    ),
    url()
}

.blogs{
  min-width: 100%;
  padding-bottom: 3em;
  margin-top: -1em;
  margin-bottom: -2em;
  background-image:
  linear-gradient(45deg,
       rgba(102, 249, 196, 0.7), 
      rgba(102, 196, 249, 0.7)
    ),
    url()
}
img{
  height:300px;
  width:300px;
}
.infographics{
  min-width: 100%;
  padding-bottom: 1em;
  margin-top: 2em;
  background-image:
  linear-gradient(45deg,
      rgba(128, 18, 155, 0.7), 
      rgba(32, 18, 155, 0.7)
    ),
    url()
}

.eBooks{
  min-width: 100%;
  padding-bottom: 3em;
  margin-bottom: -2em;
  padding-top: 2em;
  background-image:
  linear-gradient(45deg,
       rgba(102, 249, 196, 0.7), 
      rgba(102, 196, 249, 0.7)
    ),
    url()
}

.resume{
  min-width: 100%;
  padding-bottom: 1em;
  margin-top: 2em;
  background-image:
  linear-gradient(45deg,
      rgba(128, 18, 155, 0.7), 
      rgba(32, 18, 155, 0.7)
    ),
    url()
}

.contact{
  min-width: 100%;
  padding-bottom: 3em;
  margin-bottom: -2em;
  padding-top: 2em;
 background-image:
  linear-gradient(45deg,
       rgba(102, 249, 196, 0.7), 
      rgba(102, 196, 249, 0.7)
    ),
    url()
}


div{
  display:block;
}


.container{
  min-width: 110%;
  margin-left: -1.5em;

}

h2{
  text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  color:white;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
}

html{
  font-family: 'Josefin Sans', sans-serif;

}



/*header nav*/

header{
  height:auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 2em;
  padding-top:1em;
  padding-right: 1.5em;

}

.header{
  float:left;
  position: relative;
  display:block;
  z-index: 0;
  height:4em;
 
}

.col-sm-12{
  padding-top: 10px;
  text-align: center;
  color: rgba(41, 188, 158, 0.8)
}


.site{
  padding-bottom: 20px;
  height:15px;
}

h1{
  padding-bottom: 40px;
}
.navheader ul {
  background-color: rgba(41, 188, 158, 0.8);
  text-align: center;
  padding-top: 10px;
  margin: 0;
  display: inline-block;
  min-width:100%;
  position: absolute;
  top:0;
  height: 60px;
  left:0;
  float:clear;
}

i{
  color:white;
}

.navheader li {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  line-height: 50px;
  height: 60px;
  display: inline-block;
   vertical-align: middle;
  width: 15%;
}
 
.navheader a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0;
}
 
.navheader a:hover {
 color: #005f5f;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
   transition: .3em;
}
 
.navheader a.active {
  color: #fff;
  cursor: default;
}

/* Footer Nav */

.navfooter ul {
  color:white;
  background-color: rgba(200, 200, 200, 0.46);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
  display: inline-block;
  min-width:100%;
  position: absolute;
  top:0;
  height: 40px;
  left:0;
  float:left;
 
}
.navfooter li {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  line-height: 50px;
  height: 60px;
  display: inline-block;
  padding-left: 20px;
   vertical-align: middle;
  
}
 
.navfooter a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0;
}
 
.navfooter a:hover {
 color:rgba(128, 18, 155, 0.83) ;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
   transition: 2em;
}
 
.navfooter a.active {
  color: #fff;
  cursor: default;
}

.footer{
  clear:both;
  position:relative;
  z-index: 200;
  top:9.2rem;
  margin-top: -3rem;
}




#copyright li{
  font-size: 1em;
}
